body{
    background-color:rgb(194, 193, 193);
}

.material-symbols-outlined{
    color: greenyellow;
    font-size: 50px;
}

.material-symbols-outlined:hover{
   color: pink;
   background-color: rgb(165, 3, 165);
   font-size: 75px;
   transition: 1s;
   
}

.icones{
    color: chartreuse;
    background-color: rgb(165, 3, 165);
    font-size: 75px;
    transition: 1s;
}